<div class="blog-posts">
  <h2 class="title">Latest Blog Posts</h2>
  <button class="create-button" [routerLink]="['/create']">Create Post</button>
  <div class="post-list">
    <div class="post" *ngFor="let post of blogPosts">
      <div class="post-thumbnail">
        <img src="../../assets/demo.png" class="demo-image" alt="Post Thumbnail">
      </div>
      <div class="post-details">
        <h3>{{ post.title | titlecase }}</h3>
        <p class="post-date">{{ post.date | date: 'medium' }}</p>
        <div class="post-content">{{ post.content }}</div>
        <div class="post-content">{{ post.body }}</div>
        <button mat-raised-button color="primary" [routerLink]="['/post', post.id]" class="read-more-button">
          Read more
        </button>
        <button class="edit-button" mat-button color="primary" [routerLink]="['/edit', post.id]">Edit Post</button>
      </div>
    </div>
  </div>
</div>  
